.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(#000B26, 0.8);

  &__image {
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }

  &__text {
    width: 150px;
    height: 48px;
    text-transform: uppercase;
    font-weight: 500;
  }
}
