.home-page {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  .img-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    &__smurf{
      width: 100%;
      max-height: 400px;
      margin-bottom: 10px;
    }
  }
}

.bottle {
  width: 100%;
  position: relative;
  user-select: none;
  min-width: 200px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-info {
    user-select: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div {
      font-size: 2rem;
      font-weight: bold;
    }

    .timer {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;

      .separator {
        margin: 0 0.2rem;
      }
    }

    .drink-text {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      div {
        padding: 5px;
      }
    }
  }

  &__background {
    position: absolute;
    z-index: 2;
  }

  img {
    width: 200px;
    height: 400px;
  }

  .banner {
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    left: 38px;
    bottom: 20px;
    width: 125px;
    height: 250px;
    border-radius: 30px 30px 10px 5px;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
  }

  .banner .fill {
    transform: var(--start);
    animation-name: fillAction;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.2, .6, .8, .4);
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
  }

  .banner #waveShape {
    animation-name: waveAction;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    width: 300px;
    height: 150px;
    fill: #04ACFF;
  }

  @keyframes pourAction {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fillAction {
    from {
      transform: var(--start);
    }
    to {
      transform: var(--end);
    }
  }

  @keyframes waveAction {
    0% {
      transform: translate(-150px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
