<form [formGroup]="boozeForm" class="create-booze-form">
  <div class="create-booze-form__title">Создайте пьянку</div>

  <mat-form-field>
    <mat-label>Дата начала</mat-label>
    <input matInput [matDatepicker]="startDatePicker" formControlName="startTime">
    <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Стадия опьянения</mat-label>
    <mat-select formControlName="stageId">
      <ng-container *ngFor="let stage of stages$ | async">
        <mat-option [value]="stage.id">{{stage.name}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Напиток</mat-label>
    <mat-select formControlName="selectedDrinkIds" [multiple]="true">
      <mat-select-trigger>
        {{selectedDrinkNames[selectedDrinkIds.value?.[0]]}}
        <span *ngIf="(selectedDrinkIds.value?.length || 0) > 1" class="example-additional-selection">
        (+{{(selectedDrinkIds.value?.length || 0) - 1}} {{selectedDrinkIds.value?.length === 2 ? 'other' : 'others'}})
      </span>
      </mat-select-trigger>
      <mat-option *ngFor="let drink of drinkList$ | async" [value]="drink.id">{{drink.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Дата завершения</mat-label>
    <input matInput [matDatepicker]="stopDatePicker" formControlName="stopTime"
           [min]="boozeForm.get('startTime')?.value">
    <mat-datepicker-toggle matIconSuffix [for]="stopDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #stopDatePicker></mat-datepicker>
  </mat-form-field>

  <div class="create-booze-form__actions">
    <button mat-button color="primary" (click)="submit()">Сохранить</button>
    <button mat-button>Отмена</button>
  </div>
</form>
