.sign-up-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-width: 220px;

  &__form {
    width: 75%;
  }

  &__img {
    position: fixed;
    max-width: 10%;
    min-width: 100px;
    top: 0;
    right: 5%;
  }
}
