<form [formGroup]="formGroup" class="form">
  <mat-form-field>
    <mat-label>Логин</mat-label>
    <input type="text" matInput formControlName="login">
    <mat-error *ngIf="formGroup.get('login')?.hasError('required')">Поле обязательно для заполнения</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input type="password" matInput formControlName="password">
    <mat-error *ngIf="formGroup.get('password')?.hasError('required')">Поле обязательно для заполнения</mat-error>
    <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">Пароль должен содержать хотя бы 4 символа
    </mat-error>
  </mat-form-field>

  <div class="form__section">
    <button mat-raised-button (click)="signIn()" color="primary" class="form__action_full-width">Войти</button>
  </div>
  <div class="form__section">
    <button mat-button [routerLink]="['/sign-up']" class="form__action_full-width">Зарегистрироваться</button>
  </div>
</form>
